# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DualityFighting.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UNITY\GGJ22\DualityFighting\.idea\.idea.DualityFighting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
